
	<div class="row">
		<div class="col">
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<img src="assets\images\domenico-gentile-IO4wIzn4wEo-unsplash 1920x1080.jpg" alt="..." class="img-fluid">							
						</div>
						<div class="row">
							<h1 class="carousel-caption">Technology Made Simple</h1>
						</div>
					</div>
					<div class="carousel-item">
						<img src="assets\images\domenico-gentile-IO4wIzn4wEo-unsplash 1920x1080.jpg" alt="Technology Made Simple" class="img-fluid z-1">
						<h1 class="text-center z-2">Technology Made Simple</h1>							
					</div>
					<div class="carousel-item" >
						<div class="position-absolute top-0 start-50 p-5">
							<h1 class="text-white pb-5">One-Stop Solutions</h1>
							<h3 class="text-white pb-5">Deploy ready, customizable products to accelerate productivity.</h3>
							<button type="button" class="btn btn-secondary">Contact us</button>						
						</div>
						<img src="assets\images\one stop solutions.png" class="img-fluid" alt="...">
					</div>
					<div class="carousel-item">
						<div class="position-absolute top-0 start-50 p-5">
							<h1 class="text-white pb-5">Outsource</h1>
							<h3 class="text-white pb-5">Dedicated, highly qualified developers for projects and staff augmentation.
							</h3>
						</div>
						<button type="button" class="btn btn-secondary position-absolute top-50 start-50 m-5">Contact us</button>
						<img src="assets\images\outsource.png" class="img-fluid" alt="...">
					</div>
					<div class="carousel-item">
						<div class="position-absolute top-0 start-50 p-5">
							<h1 class="text-white pb-5">Technologies</h1>
							<h3 class="text-white pb-5">Dedicated, highly qualified developers for projects and staff augmentation.
							</h3>
						</div>
						<button type="button" class="btn btn-secondary position-absolute top-50 start-50 m-5">Contact us</button>
						<img src="assets\images\technologies.png" class="img-fluid" alt="...">
					</div>
					<div class="carousel-item">
						<div class="position-absolute top-0 start-50 p-5">
							<h1 class="text-white pb-5">Our Partners</h1>
							<h3 class="text-white pb-5">We strive for exellence and quality.</h3>
							<h3 class="text-white pb-5">View our parnters.</h3>
						</div>
						<button type="button" class="btn btn-secondary position-absolute top-50 start-50 m-5">Contact us</button>
						<img src="assets\images\partners.png" class="img-fluid" alt="...">
					</div>
			
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>


<!-- <div class="container-fluid">
	<div class="row">
		<div class="col">
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active d-flex justify-content-around">
						<img src="assets\images\domenico-gentile-IO4wIzn4wEo-unsplash 1920x1080.jpg" alt="..." class="img-fluid">
						<h1 class="carousel-caption pb-5">Technology Made Simple</h1>
					</div>
					<div class="carousel-item">
						<div class="position-absolute top-0 start-50 p-5">
							<h1 class="text-white pb-5">One-Stop Solutions</h1>
							<h3 class="text-white pb-5">Deploy ready, customizable products to accelerate productivity.</h3>
							<button type="button" class="btn btn-secondary">Contact us</button>						
						</div>
						<img src="assets\images\one stop solutions.png" class="img-fluid" alt="...">
					</div>
					<div class="carousel-item">
						<div class="position-absolute top-0 start-50 p-5">
							<h1 class="text-white pb-5">Outsource</h1>
							<h3 class="text-white pb-5">Dedicated, highly qualified developers for projects and staff augmentation.
							</h3>
						</div>
						<button type="button" class="btn btn-secondary position-absolute top-50 start-50 m-5">Contact us</button>
						<img src="assets\images\outsource.png" class="img-fluid" alt="...">
					</div>
					<div class="carousel-item">
						<div class="position-absolute top-0 start-50 p-5">
							<h1 class="text-white pb-5">Technologies</h1>
							<h3 class="text-white pb-5">Dedicated, highly qualified developers for projects and staff augmentation.
							</h3>
						</div>
						<button type="button" class="btn btn-secondary position-absolute top-50 start-50 m-5">Contact us</button>
						<img src="assets\images\technologies.png" class="img-fluid" alt="...">
					</div>
					<div class="carousel-item">
						<div class="position-absolute top-0 start-50 p-5">
							<h1 class="text-white pb-5">Our Partners</h1>
							<h3 class="text-white pb-5">We strive for exellence and quality.</h3>
							<h3 class="text-white pb-5">View our parnters.</h3>
						</div>
						<button type="button" class="btn btn-secondary position-absolute top-50 start-50 m-5">Contact us</button>
						<img src="assets\images\partners.png" class="img-fluid" alt="...">
					</div>
			
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div> -->