<div class="row">
	<div class="col">
		<div class="carousel-inner">
			<img class="carousel-item-active img-fluid" src="assets\images\Grey.png" alt="">
			<div class="carousel-caption">
				<h1 class="d-none d-sm-block pb-5">Over 25 Years Of Combined Experience</h1>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row pt-5">
		<div class="col-6 p-5">
			<h5 class="pb-5 fw-bold">OUR STORY</h5>
			<h1 class="pb-3"><span class="red-bar">S</span>RG <span class="text-muted">Handel und Dienstleistung</span></h1>
			<p>was founded in 2020 in Germany by two friends who share the passion for
				business and development.</p>
			<p>Our extensive network and combined experience provide a uniqe advantage to our
				clients.</p>
			<p>With a shared mindset for borderless cooperation, our ultimate goal is realizing the potential of
				technology and human ingenuity for our customers.</p>
			<p>We support our clients to realize their vision and develop
				their projects to evolve their business.</p>
				<div class="row py-5">
					<div class="col py-5">
						<button type="button" class="btn btn-outline-danger btn-lg fs-4" routerLink="../contact">Get in touch</button>
					</div>
				</div>
		</div>
		<div class="col-6 p-5">
			<img class="img-fluid" src="assets\images\about us drew-beamer-Se7vVKzYxTI-unsplash.jpg" alt="">
		</div>
	</div>
</div>