<div class="row">
	<div class="col">
		<div class="carousel-inner">
			<img class="w-100 carousel-item-active" src="assets\images\Grey.png" alt="">
			<div class="carousel-caption d-flex flex-column">
				<h1>Over 25 Years Of Combined Experience</h1>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6 p-5">
		<h2 class="text-muted">Our story</h2>
		<p></p>
		<p>SRG Handel und Dienstleistung was founded in 2020 in Germany by two friends who share the passion for
			business and development.
		</p>
		<p>
			Our extensive network and combined experience provide a uniqe advantage to our
			clients.
		</p>
		<p>
			With a shared mindset for borderless cooperation, our ultimate goal is realizing the potential of
			technology and human ingenuity for our customers.
		</p>
		<p>
			We support our clients to realize their vision and develop
			their projects to evolve their business.
		</p>
	</div>
	<div class="col-6 p-5">
		<img class="img-fluid" src="assets\images\about us drew-beamer-Se7vVKzYxTI-unsplash.jpg" alt="">
	</div>
</div>