<div class="container-fluid">
	<div class="row-fluid">
		<img class= "img-fluid" src="assets\images\Grey bar.png" alt="">
		<h1 class=>abc</h1>
		<button>abc</button>
	</div>
	<div class="row">
		<div class="col w-50">
			<h2 class="text-muted">Our Story</h2>
			<p>SRG Handel und Dienstleistung was founded in 2020 in Germany by two friends who share the passion for business and development. Our extensive network and combined experience provide a uniqe advantage to our clients. With a shared mindset for borderless cooperation, our ultimate goal is realizing the potential of technology and human ingenuity for our customers. We support our clients to realize their vision and develop their projects to evolve their business.</p>
		</div>
		<div class="col w-50">
			<img class= "img-fluid" src="assets\images\about us drew-beamer-Se7vVKzYxTI-unsplash.jpg" alt="">
		</div>
	</div>
</div>