<div class="container-fluid">
	<div class="row border">
		<div class="col p-4">
			<img src="assets/images/logo-02@2x.png" alt="..." class="img-fluid pb-3" style="width:25%">
			<p>Copyright © All Rights Reserved</p>
		</div>
		<div class="col p-4">
			<p class="fw-bold">Contact</p>
			<p>info@srg-tech.com</p>
		</div>
		<div class="col p-4">
			<p class="fw-bold">Address</p>
			<p>SRG Handel & Dienstleistung, Moerser Straße 225, 47475 Kamp-Lintfort</p>
		</div>
		<div class="col p-5">
			<button type="button" class="btn btn-outline-dark" routerLink="./impressum">Impressum & Data Protection</button>
		</div>
	</div>
</div>