<div class="carousel-inner">
	<div class="carousel-item-active">
		<img src="assets\images\Grey.png" alt="" class="img-fluid">
		<div class="carousel-caption">
			<h1 class="d-none d-sm-block pb-5">Let's Work Together</h1>
		</div>
	</div>
</div>

<div [formGroup]="contactForm" class="container pt-5">
	<div class="row g-3">
		<div class="col-md-4">
			<label for="validationCustom00" class="form-label">Subject</label>
			<input id="validationCustom00" type="text" class="form-control" formControlName="subject">
		</div>
		<div class="col-md-4">
			<label for="validationCustom01" class="form-label">Name</label>
			<input [ngStyle]="nameBorderStyle" id="validationCustom01" type="text" class="form-control" formControlName="name">
			<div [ngStyle]="nameMessageStyle" [innerText]="nameMessageText"></div>
		</div>
		
		<div class="col-md-4">
			<label for="validationCustom02" class="form-label">Phone</label>
			<input type="text" class="form-control" id="validationCustom02" formControlName="phone">
		</div>
		<div class="col-md-4">
			<label for="validationCustomUsername" class="form-label">Email</label>
			<input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
				formControlName="email">
		</div>
		<div class="col-md-6">
			<label for="validationCustom03" class="form-label">Company</label>
			<input type="text" class="form-control" id="validationCustom03" formControlName="company">
		</div>
		<div class="col-md-3">
			<label for="validationCustom05" class="form-label">Message</label>
			<textarea type="text" class="form-control" id="validationCustom05"  formControlName="message"></textarea>
		</div>
		<div class="col-12">
			<button (click)="sendEmail()" class="btn btn-primary">Submit form</button>
		</div>
	</div>

</div>