<div class="carousel-inner">
	<div class="carousel-item-active">
		<img src="assets\images\Grey.png" alt="" class="img-fluid">
		<div class="carousel-caption">
			<h1 class="d-none d-sm-block pb-5">Let's Work Together</h1>
		</div>
	</div>
</div>

<div [formGroup]="contactForm" class="container p-5">
	<div class="row g-3" *ngIf="!emailSent">
		<h3 class="text-muted text-center py-5">Get in touch...</h3>
		
		<div class="col-md-3">
			<label for="validationCustom01" class="form-label">Name *</label>
			<input placeholder="Please enter your name" [ngClass]="{'form-control' : true, 'valid' : contactForm.controls.name.valid, 
			'invalid' : !contactForm.controls.name.valid && contactForm.controls.name.touched}" 
			id="validationCustom01" type="text" formControlName="name">
			<div [ngClass]="myMessageClass" [innerText]="nameMessageText" hidden></div>
		</div>
		
		<div class="col-md-3">
			<label for="validationCustomUsername" class="form-label">Email *</label>
			<input type="text" placeholder="example@mail.com" [ngClass]="{'form-control' : true, 'valid' : contactForm.controls.email.valid, 
			'invalid' : !contactForm.controls.email.valid && contactForm.controls.email.touched}" 
			id="validationCustomUsername" aria-describedby="inputGroupPrepend" formControlName="email">
		</div>
		
		<div class="col-md-3">
			<label for="validationCustom02" class="form-label">Phone</label>
			<input type="text" placeholder="Please enter your number" class="form-control" id="validationCustom02" formControlName="phone">
		</div>

		<div class="col-md-3">
			<label for="validationCustom03" class="form-label">Company</label>
			<input type="text" placeholder="Company name" class="form-control" id="validationCustom03" formControlName="company">
		</div>

		<div class="col-md-12">
			<label for="validationCustom00" class="form-label">Subject</label>
			<input id="validationCustom00" type="text" placeholder="Message subject" class="form-control" formControlName="subject">
		</div>

		<div class="col-md-12">
			<label for="validationCustom05" class="form-label">Message *</label>
			<textarea type="text" placeholder="Your message..." [ngClass]="{'form-control' : true, 
			'valid' : contactForm.controls.message.valid, 
			'invalid' : !contactForm.controls.message.valid && contactForm.controls.message.touched}" 
			id="validationCustom05" formControlName="message"></textarea>
		</div>

		<div class="col-6">
			<button class=" btn btn-outline-secondary"
			
			(click)="sendForm()" 
			[disabled]='!contactForm.valid || sentClicked'>SEND</button>

			<p class="text-danger"			 
			*ngIf='!contactForm.valid'>* Please fill in the required fields</p>
		</div>
	</div>
	<div class="row">
		<div  *ngIf="emailSent">
			<h4 class="text-success text-center">Your message was sent successfully, we will get back to you shortly!</h4>
			<div class="d-flex justify-content-center p-4">
				<button type="button" class="btn btn-lg btn-outline-secondary" routerLink="../home">Home</button>
			</div>
		</div>
	</div>
</div>	