<div class="row-fluid pb-5">
	<div class="col">
		<div class="carousel-inner pb-5">
			<div class="carousel-item-active">
				<img src="assets\images\Grey.png" alt="" class="img-fluid p3">
				<div class="carousel-caption">
					<h1 class="d-none d-sm-block pb-5">Create The Ideal Digital Mix</h1>
				</div>
			</div>
		</div>
		<h1 class="text-center text-muted pt-5">Build, Customize, Integrate</h1>
	</div>
</div>

<div class="conainer-fluid p-5">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="card bg-light border-0" style="width: 18rem;">
				<img src="assets/images/cloud.png" class="card-img-top border" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">CLOUD</h5>
					<p class="card-text">
						Migration, Security, Infrastructure, Microsoft Azure, AWS, Red Hat
					</p>
				</div>
			</div>
		</div>
		<div class="col d-flex justify-content-center">
			<div class="card bg-light border-0" style="width: 18rem;">
				<img src="assets/images/web and database.png" class="card-img-top border" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">WEB & DATABASE</h5>
					<p class="card-text text-center">
						HTML, CSS, JSON, JavaScript, JQuery,
						Ajax, Angular, React, C#, PHP, Java,
						Microsoft SQL Server, MySQL, Oracle, MongoDB, NoSQLDB
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="card bg-light border-0" style="width: 18rem;">
				<img src="assets/images/mobile.png" class="card-img-top border" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">MOBILE</h5>
					<p class="card-text text-center">
						iOS Objective-C & Swift, Android (Java), Xamarin, React Native
					</p>
				</div>
			</div>
		</div>
		<div class="col d-flex justify-content-center">
			<div class="card bg-light border-0" style="width: 18rem;">
				<img src="assets/images/testing.jpg" class="card-img-top border" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">TESTING</h5>
					<p class="card-text text-center">
						Smoke, Integration, Acceptance, Security, Load, Performance, Unit, Automated UI, and Usability Testing
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col d-flex justify-content-center p-5">
		<button type="button" class="btn btn-outline-danger btn-lg fs-4" routerLink="./contact">Get in touch</button>
	</div>
</div>