<div class="row-fluid pb-5">
	<div class="col">
		<div class="carousel-inner">
			<div class="carousel-item-active">
				<img src="assets\images\Grey.png" alt="" class="img-fluid p3">
				<div class="carousel-caption">
					<h1 class="d-none d-sm-block pb-5">Create The Ideal Digital Mix</h1>
				</div>
			</div>
		</div>
		<h1 class="text-center text-muted pt-5 px-3">Build, Customize, Integrate</h1>
		<h5 class="text-center p-3">
			Our service offerings traverse Fullstack Web development to Mobile development <br> and from Cloud technologies
			and Databases to Software Testing!
		</h5>
	</div>
</div>

<div class="container-sm p-5">
	<div class="row pb-5">
		<div class="col d-flex justify-content-center">
			<div class="card bg-light red-hover border-0 pb-5" style="max-width: 18rem; min-width: 10rem;">
				<img src="assets/images/cloud.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">CLOUD</h5>
					<p class="card-text text text-center">
						Cloud Migration <br> Cloud Security <br> Cloud Infrastructure <br> Microsoft Azure <br> AWS <br>
						Red Hat
					</p>
				</div>
			</div>
		</div>
		<div class="col d-flex justify-content-center">
			<div class="card bg-light red-hover border-0 pb-3" style="max-width: 18rem; min-width: 10rem;">
				<img src="assets/images/web.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">WEB</h5>
					<p class="card-text text-center">
						Javascript - HTML - CSS <br> JSON - JQuery <br> Ajax <br> Angular - React <br> C# - PHP - Java
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row pb-5">
		<div class="col d-flex justify-content-center">
			<div class="card bg-light red-hover border-0 pb-3" style="max-width: 18rem; min-width: 10rem;">
				<img src="assets/images/mobile.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">MOBILE</h5>
					<p class="card-text text-center">
						iOS - Android <br> Objective-C - Swift <br> Xamarin - React Native
					</p>
				</div>
			</div>
		</div>
		<div class="col d-flex justify-content-center">
			<div class="card bg-light red-hover border-0 pb-3" style="max-width: 18rem; min-width: 10rem;">
				<img src="assets/images/testing.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">TESTING</h5>
					<p class="card-text text-center">
						Smoke <br> Integration Testing <br> Acceptance Testing <br> Security Testing<br> Load Testing <br> Performance
						Testing <br> Unit Testing <br> Automated UI Testing <br> Usability Testing
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="card bg-light red-hover border-0 pb-3" style="max-width: 18rem; min-width: 10rem;">
				<img src="assets/images/database.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center text-muted py-3">DATABASE</h5>
					<p class="card-text text-center">
						Microsoft - SQL Server <br> MySQL - NoSQL <br> Oracle - MongoDB
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row py-5">
		<div class="col d-flex justify-content-center p-5">
			<button type="button" class="btn btn-outline-danger btn-lg fs-4" routerLink="../contact">Get in
				touch</button>
		</div>
	</div>
</div>