
	<div class="row">
		<div class="col">
			<div class="carousel-inner">
				<div class="carousel-item-active">
					<img src="assets\images\Grey.png" alt="" class="w-100 img-fluid">
					<div class="carousel-caption">
						<h1>Your Data & Privacy are Important to us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row py-5 px-5">
		<div class="col">
			<h3 class="fw-bold pb-5">Impressum</h3>
			<h5 class="fw-bold text-muted pb-3">SRG Handel und Dienstleistung Unternehmergesellschaft
				(haftungsbeschränkt)</h5>
			<p> Vertretungsberechtigter Geschäftsführer: Husam Shakeeb</p>
			<p> Moerser Straße 225</p>
			<p>47475 Kamp-Lintfort</p>
			<p>info@srg-tech.com</p>
			<p>Registergericht: Amtsgericht Kleve</p>
			<p>Registernummer: HRB 17016</p>
			<p>Umstazsteueridentificationsnummer: DE350193928</p>
			<h5 class="fw-bold py-5">Datenschutz</h5>
			<p>Allgemeiner Hinweis und Pflichtinformationen Benennung der verantwortlichen Stelle</p>
			<p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
			<p>SRG Handel un Dienstleistung Unternehmergesellschaft (haftungsbeschränkt)</p>
			<p>Husam Shakeeb</p>
			<p>Moerser Straße 225</p>
			<p>47475 Kamp-Lintfort</p>
			<p>Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der
				Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).
				Widerruf Ihrer Einwilligung zur Datenverarbeitung
				Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der Datenverarbeitung möglich. Ein
				Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine
				formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung
				bleibt vom Widerruf unberührt.</p>
				<p>Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde
					Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem sich der Sitz unseres Unternehmens befindet. Der folgende Link stellt eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten bereit:
					https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.</p>
		</div>
	</div>
