<div class="row-fluid">
	<div class="col">
		<div class="carousel-inner">
			<div class="carousel-item-active">
				<img src="assets\images\Grey.png" alt="" class="img-fluid">
				<div class="carousel-caption display-none">
					<h1 class="d-none d-sm-block pb-5">Ready To Implement & Customize</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<h5 class="text-muted text-center pt-5">SRG-Tech Catalog 2023-2024</h5>
	<div class="d-flex justify-content-center">
		<embed src="assets/images/SRG-Catalog-2023.pdf#toolbar=0" class="pdf py-5" />
	</div>	
	<h5 class="text-center py-5">Contact us for more information about our services and catalog</h5>
	
</div>