<app-carousel></app-carousel>

<div class="row-fluid py-5">
	<div class="col">
		<h1 class="text-muted text-center py-5">Over 25 Years Of Combined Experience</h1>
	</div>
</div>

<div class="container">
	<div class="row border">
		<div class="col p-5">
			<h5 class="fw-bold">WHO WE ARE</h5>
			<h1 class="pt-5 pb-3"><span class="red-bar">S</span>RG <span class="text-muted">Handel & Dienstleistung</span>
			</h1>
			<p class="fs-5">is an international software and digitalization solutions provider.</p>
			<p class="fs-5">Our vision is of a digitally productive world; unbound by location or borders.</p>
			<p class="fs-5">We unlock the value of technology to deliver products, platforms and services
			that accelerate the digital transformation for our clients.</p>
			<div class="col pt-5">
				<button type="button" class="btn btn-outline-danger btn-lg fs-4" routerLink="./contact">Get in touch</button>
			</div>
		</div>
		<div class="col p-0 d-none d-md-block d-sm-none d-xs-none">
			<img src="assets/images/karl-pawlowicz-QUHuwyNgSA0-unsplash.jpg" alt="" class="img-fluid">
		</div>
	</div>
	<div class="row p-5 mt-5">
		<div class="col-lg-4 d-flex">
			<h1 class="fw-bold text-muted text-end px-5 align-self-center">What We Do</h1>
		</div>
		<div class="col-8">
			<p class="fs-5 border-start border-danger border-5 px-5">The need for rapid digital transformation has never been greater.
			We meet clients wherever they are on their paths to change and partner with them to create lasting
			value in every direction.</p>
		</div>		
	</div>
</div>